{% schema %}
{
  "name": "Gift Card Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "gift_card_image",
      "label": "Gift Card Image",
      "info": "Recommended size: 380px x 250px"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image alt text",
      "default": "Gift card"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 200,
      "max": 800,
      "step": 20,
      "unit": "px",
      "label": "Image width",
      "default": 380
    },
    {
      "type": "range",
      "id": "container_margins",
      "min": 0,
      "max": 96,
      "step": 8,
      "unit": "px",
      "label": "Container vertical margins",
      "default": 16
    }
  ],
  "presets": [
    {
      "name": "Gift Card Image"
    }
  ]
}
{% endschema %}

<div class="gift-card-section__container">
    {%- assign image_width = section.settings.image_width | default: 380 -%}
    {%- assign container_margins = section.settings.container_margins | default: 0 -%}

    {%- if section.settings.gift_card_image -%}
        {{ section.settings.gift_card_image | image_url: width: image_width | image_tag:
        class: 'gift-card-section__image',
        alt: section.settings.image_alt,
        width: image_width,
        height: image_height,
        loading: 'eager'
        }}
    {%- endif -%}
</div>

{% style %}
    .gift-card-section__container {
        width: {{ image_width }}px;
        max-width: 95vw;
        margin: {{ container_margins }}px auto;
    }

    .gift-card-section__image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    @media (max-width 768px) {
        .gift-card-section__image {
            width: 100%;
            height: auto;
        }
    }
{% endstyle %}