
    
    <div id="replo-section-a5df6e72-8d37-4fc9-b99b-7be0b5b85d9d" data-runtime-version="56271d8c-8aef-11ee-9b11-76a1a5e574ae" style="display:block !important;"><style id="replo-element-styles">:not(#\20):not(#\20).r-1oqhcj4{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;background-size:cover;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1oqhcj4{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1oqhcj4{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-19xr62c{height:799px;display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;background-size:cover;justify-content:center;background-image:url("https://cdn.shopify.com/s/files/1/1378/8621/files/about_gradient.jpg?v=1693505276");}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19xr62c{height:620px;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;background-image:url("https://cdn.shopify.com/s/files/1/1378/8621/files/about_gradient.jpg?v=1693505276");}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19xr62c{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;background-image:url("https://cdn.shopify.com/s/files/1/1378/8621/files/about_gradient.jpg?v=1693505276");}}:not(#\20):not(#\20).r-v2p1r5{height:800px;display:flex;row-gap:60px;position:relative;max-width:1536px;min-width:auto;column-gap:60px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-v2p1r5{width:auto;height:auto;display:flex;row-gap:60px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:60px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:3em;padding-left:1em;padding-right:1em;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-v2p1r5{width:auto;row-gap:60px;position:relative;flex-grow:1;min-width:auto;column-gap:60px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1mnovrw{display:flex;row-gap:40px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:40px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-left:5em;padding-right:5em;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1mnovrw{width:auto;row-gap:33px;position:relative;min-width:auto;align-self:stretch;column-gap:33px;flex-basis:auto;min-height:auto;flex-shrink:0;padding-left:0em;padding-right:0em;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1mnovrw{row-gap:40px;position:relative;min-width:auto;column-gap:40px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1xrzm82{color:#576E81FF;font-size:3.5em;flex-basis:auto;flex-shrink:0;font-family:Larsseit, sans-serif;line-height:60px;overflow-wrap:break-word;letter-spacing:1px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1xrzm82{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1xrzm82{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-59zome{color:#2F394EFF;font-size:1.8em;flex-basis:auto;text-align:center;flex-shrink:0;line-height:36px;padding-left:11em;overflow-wrap:break-word;padding-right:11em;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-59zome{width:auto;font-size:1.6em;align-self:stretch;flex-basis:auto;text-align:left;flex-shrink:0;line-height:30px;padding-left:0em;padding-right:0em;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-59zome{width:auto;font-size:1.5em;align-self:stretch;flex-basis:auto;flex-shrink:0;line-height:39px;padding-left:0px;padding-right:0px;text-align-last:center;}}:not(#\20):not(#\20).r-142p8x3{display:flex;position:relative;max-width:1535px;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-bottom:60px;justify-content:space-between;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-142p8x3{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-left:1em;padding-right:1em;flex-direction:column-reverse;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-142p8x3{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column-reverse;}}:not(#\20):not(#\20).r-m94q0d{display:flex;row-gap:30px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:flex-start;column-gap:30px;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;padding-left:6em;padding-right:20.8px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-m94q0d{height:auto;row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-left:0em;padding-right:1em;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-m94q0d{height:auto;row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-left:1em;padding-right:1em;}}:not(#\20):not(#\20).r-102vrgi{color:#576E81FF;font-size:40px;flex-basis:auto;text-align:center;flex-shrink:0;line-height:42px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-102vrgi{flex-basis:auto;flex-shrink:0;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-102vrgi{flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-1lqph1g{font-size:18px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1lqph1g{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1lqph1g{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-14cfujq{display:flex;flex-grow:1;min-width:0;align-self:stretch;flex-basis:0;min-height:0;object-fit:contain;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;padding-right:40px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-14cfujq{width:auto;height:293px;align-self:stretch;flex-basis:auto;flex-shrink:1;padding-right:0px;padding-bottom:30px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-14cfujq{width:auto;align-self:stretch;flex-basis:auto;flex-shrink:1;padding-right:0px;padding-bottom:30px;}}:not(#\20):not(#\20).r-17k5mf8{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:contain;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-17k5mf8{object-fit:contain;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-17k5mf8{object-fit:contain;}}:not(#\20):not(#\20).r-1p9msoj{display:flex;position:relative;max-width:1535px;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;padding-bottom:60px;justify-content:space-between;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1p9msoj{display:flex;overflow:scroll;position:relative;flex-wrap:nowrap;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-left:0em;padding-right:0em;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1p9msoj{display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column-reverse;}}:not(#\20):not(#\20).r-a7vs12{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-a7vs12{width:auto;display:flex;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column-reverse;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-a7vs12{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-134tx2e{top:0px;display:none;row-gap:24px;z-index:2;position:sticky;flex-grow:1;max-width:664px;column-gap:24px;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-134tx2e{top:auto;left:auto;right:auto;width:auto;bottom:auto;height:auto;display:flex;row-gap:16px;position:relative;flex-grow:1;max-width:none;align-self:stretch;column-gap:16px;flex-basis:auto;flex-shrink:1;padding-left:1em;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-134tx2e{top:auto;left:auto;right:auto;width:auto;bottom:auto;height:auto;display:none;row-gap:24px;position:relative;flex-grow:1;max-width:none;align-self:stretch;column-gap:24px;flex-basis:auto;flex-shrink:1;flex-direction:column;}}:not(#\20):not(#\20).r-odioke{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:200px;align-self:stretch;flex-basis:auto;min-height:200px;align-items:flex-start;flex-shrink:1;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-odioke{height:auto;position:relative;flex-grow:1;min-width:auto;flex-basis:auto;margin-top:6px;min-height:200px;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-odioke{height:auto;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:200px;flex-shrink:0;}}:not(#\20):not(#\20).r-6y5lq6{display:flex;row-gap:30px;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:flex-start;column-gap:30px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;padding-top:60px;padding-left:6em;padding-right:20.8px;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-6y5lq6{height:auto;row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-left:0em;padding-right:1em;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-6y5lq6{height:auto;row-gap:30px;position:relative;flex-grow:1;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:1;padding-left:1em;padding-right:1em;}}:not(#\20):not(#\20).r-wlvge{color:#576E81FF;font-size:40px;align-self:center;flex-basis:auto;text-align:center;flex-shrink:0;line-height:42px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-wlvge{flex-basis:auto;flex-shrink:0;padding-top:20px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-wlvge{flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-1xwi7zb{font-size:18px;align-self:center;flex-basis:auto;text-align:center;flex-shrink:0;line-height:24px;padding-left:13em;overflow-wrap:break-word;padding-right:13em;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1xwi7zb{flex-basis:auto;text-align:left;flex-shrink:0;padding-left:1em;padding-right:1em;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1xwi7zb{flex-basis:auto;flex-shrink:0;text-align-last:center;}}:not(#\20):not(#\20).r-ygr258{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ygr258{width:auto;display:flex;position:relative;flex-grow:unset;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ygr258{display:none;position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-bgb9ip{display:none;position:relative;max-width:100%;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-bgb9ip{display:flex;position:relative;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-bgb9ip{display:flex;position:relative;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1vaibeo{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1vaibeo{position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1vaibeo{position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-5fhzn8{overflow:hidden;position:relative;flex-grow:1;align-self:stretch;flex-basis:auto;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5fhzn8{width:400px;height:auto;position:relative;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5fhzn8{position:relative;flex-basis:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-998snb{display:flex;row-gap:12px;position:relative;flex-grow:1;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:24px;padding-bottom:24px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-998snb{display:flex;row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-998snb{row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1ypv58d{display:flex;max-width:400px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ypv58d{width:300px;height:300px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ypv58d{max-width:400px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-g9sxnd{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-g9sxnd{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-g9sxnd{object-fit:cover;}}:not(#\20):not(#\20).r-13cg490{display:flex;row-gap:12px;position:relative;flex-grow:1;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:24px;padding-bottom:24px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-13cg490{display:flex;row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-13cg490{row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1dfmg2c{display:flex;max-width:400px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dfmg2c{width:300px;height:300px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dfmg2c{max-width:400px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-6lcrqx{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-6lcrqx{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-6lcrqx{object-fit:cover;}}:not(#\20):not(#\20).r-128lr5a{display:flex;row-gap:12px;position:relative;flex-grow:1;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:24px;padding-bottom:24px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-128lr5a{display:flex;row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-128lr5a{row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-yvlx1e{display:flex;max-width:400px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-yvlx1e{width:300px;height:300px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-yvlx1e{max-width:400px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-lhy8qn{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-lhy8qn{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-lhy8qn{object-fit:cover;}}:not(#\20):not(#\20).r-1fdtl98{display:flex;row-gap:12px;position:relative;flex-grow:1;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:24px;padding-bottom:24px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1fdtl98{display:flex;row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1fdtl98{row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-dd991q{display:flex;max-width:400px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-dd991q{width:300px;height:300px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-dd991q{max-width:400px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-3vpr3a{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3vpr3a{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3vpr3a{object-fit:cover;}}:not(#\20):not(#\20).r-1m4v8y6{display:flex;row-gap:12px;position:relative;flex-grow:1;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;padding-top:24px;padding-bottom:24px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1m4v8y6{display:flex;row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;align-items:center;flex-shrink:1;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1m4v8y6{row-gap:12px;position:relative;min-width:auto;column-gap:12px;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1i836b3{display:flex;max-width:400px;min-width:0;flex-basis:auto;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1i836b3{width:300px;height:300px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1i836b3{max-width:400px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-n35i6o{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-n35i6o{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-n35i6o{object-fit:cover;}}:not(#\20):not(#\20).r-1l9mphp{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1l9mphp{display:flex;position:relative;min-width:auto;flex-basis:auto;margin-top:-40px;min-height:auto;align-items:flex-start;flex-shrink:0;padding-left:2em;padding-right:2em;justify-content:space-between;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1l9mphp{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1tf88fn{--rsw:100%;width:60px;height:60px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1tf88fn{--rsw:100%;color:#576E81FF;width:30px;height:30px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1tf88fn{--rsw:100%;width:60px;height:60px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-ig4f6z{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-9mponq{--rsw:100%;width:60px;height:60px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-9mponq{--rsw:100%;color:#576E81FF;width:30px;height:30px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-9mponq{--rsw:100%;width:60px;height:60px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1vta7pv{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1wdslq4{width:1356px;height:312px;display:flex;min-width:0;align-self:center;flex-basis:auto;min-height:0;object-fit:contain;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1wdslq4{width:auto;height:152px;display:none;align-self:stretch;flex-basis:auto;object-fit:none;flex-shrink:0;padding-right:0px;padding-bottom:30px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1wdslq4{width:auto;align-self:stretch;flex-basis:auto;flex-shrink:0;padding-right:0px;padding-bottom:30px;}}:not(#\20):not(#\20).r-1g8xh8c{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:contain;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1g8xh8c{object-fit:none;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1g8xh8c{object-fit:contain;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/49187cf6-6bb0-4cde-a196-e284b0844457/a5df6e72-8d37-4fc9-b99b-7be0b5b85d9d.min.js?v=56271d8c-8aef-11ee-9b11-76a1a5e574ae" id="https://replocdn.com/w/49187cf6-6bb0-4cde-a196-e284b0844457/a5df6e72-8d37-4fc9-b99b-7be0b5b85d9d.min.js?v=56271d8c-8aef-11ee-9b11-76a1a5e574ae"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      
     </style><div class="alchemy__element alchemy-reset"><div data-rid="c017b946-d6e1-4155-9261-be125b2ad236" data-replo-repeated-index=".0" class="r-1oqhcj4"><div data-rid="7920026b-84fd-4816-a8b2-f04875338e58" data-replo-repeated-index=".0.0" class="r-19xr62c"><div data-rid="60f55d4c-41b3-46a2-9440-a0d2e79bf599" data-replo-repeated-index=".0.0.0" class="r-v2p1r5"><div data-rid="ea55b761-9134-4885-a0d2-79dd1601ea69" data-replo-repeated-index=".0.0.0.0" class="r-1mnovrw"><div data-rid="70cd1bca-dbd7-4068-beec-023f859d1c02" data-replo-repeated-index=".0.0.0.0.0" class="r-1xrzm82 alchemy-rte"><span contenteditable="false" style="width:100%"><h1>We're big fans of sleep.</h1></span></div><div data-rid="c144cb06-5162-48b7-9db6-1a0a38e7a694" data-replo-repeated-index=".0.0.0.0.0" class="r-59zome alchemy-rte"><span contenteditable="false" style="width:100%"><p>Imagine waking up every morning feeling refreshed and energized,<br>ready to take on the day.<br><br>A good night's sleep is not just simply recharging your batteries.<br>It's about unlocking the full potential of your brain and safeguarding your overall health. When we prioritize wellness, sleep becomes an essential pillar alongside diet and exercise.<br></p></span></div></div></div></div><div data-rid="83f88130-3c28-4747-a8a3-d311d15859b4" data-replo-repeated-index=".0.0" class="r-142p8x3"><div data-rid="393c7b83-14b1-4967-9a6e-f895bd42ddda" data-replo-repeated-index=".0.0.0" class="r-m94q0d"><div data-rid="53ee63c0-3165-491d-8315-48b669adc23e" data-replo-repeated-index=".0.0.0.0" class="r-102vrgi alchemy-rte"><span contenteditable="false" style="width:100%"><p>Meet the Founders</p></span></div><div data-rid="98a5d578-7b2c-4161-b97f-a0832d7f939f" data-replo-repeated-index=".0.0.0.0" class="r-1lqph1g alchemy-rte"><span contenteditable="false" style="width:100%"><p>Picture this: it's a small-town wedding in Illinois back in 2012. Eli (pictured left) turns to Matt (right) and says, "It’s like using a screwdriver for a hammer,” They had both noticed their family members using fans to help their nieces and nephews sleep. <br><br>But they weren't using them for the air, they were using them for the soothing sound they produced.<br><br>Matt and Eli couldn't get over the product-use mismatch, especially during the cold Chicago winters. Dissatisfied with the sound machines available, Matt and Eli, with a background in mechanical engineering and fluid dynamics, decided to take matters into their own hands.<br><br>What initially started as a passion project quickly transformed into something they couldn’t keep to themselves. Now with a range of products, their mission extends beyond their family to helping everyone find a better night's sleep.</p></span></div></div><picture data-rid="24326e90-fe1f-45a2-8eed-b02a56325f22" data-replo-repeated-index=".0.0.0" class="r-14cfujq"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/231030_matt_and_eli-3169.jpg?v=1700847020&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/231030_matt_and_eli-3169.jpg?v=1700847020&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/231030_matt_and_eli-3169.jpg?v=1700847020&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/231030_matt_and_eli-3169.jpg?v=1700847020&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/231030_matt_and_eli-3169.jpg?v=1700847020" class="r-17k5mf8" loading="eager"/></picture></div><div data-rid="065266d8-1149-4272-9d83-4281f41aed6d" data-replo-repeated-index=".0.0" class="r-1p9msoj"><div data-rid="5192f566-aacf-4771-aa31-f3e9b285d643" data-replo-repeated-index=".0.0.0" class="r-a7vs12"><div data-rid="bc3f4c14-3070-4db1-a25a-be0404bc6fc9" data-replo-repeated-index=".0.0.0.0" class="r-6y5lq6"><div data-rid="3c1e119d-29cc-4519-b558-7d87726ba0f0" data-replo-repeated-index=".0.0.0.0.0" class="r-wlvge alchemy-rte"><span contenteditable="false" style="width:100%"><p>Perfecting the Sound</p></span></div><div data-rid="e686892b-5bde-4337-991c-5a501f584f6f" data-replo-repeated-index=".0.0.0.0.0" class="r-1xwi7zb alchemy-rte"><span contenteditable="false" style="width:100%"><p>It took a ridiculous amount of CFD computer simulation and a crash course in 3D printing, but Matt and Eli eventually developed a proprietary impeller and acoustic chamber that combined to create SNOOZ’s signature fan sound. When their friends refused to return test units, they knew they were on to something.<br></p></span></div></div></div><div data-rid="58bf3774-a341-4bc7-979a-09c6fa893215" data-replo-repeated-index=".0.0.0" class="r-ygr258"><div data-rid="a05904f9-69f4-4f2b-b801-62c144f5c264" data-replo-repeated-index=".0.0.0.0" class="r-bgb9ip" data-replo-carousel="true"><div class="splide" aria-label="Carousel"><div data-rid="a841942a-da0c-4a4f-b482-880053175c79" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1vaibeo"><div data-rid="62c3cbb2-4db4-4f32-9cf2-afaaed407b25" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-5fhzn8"><div class="splide__track"><ul class="splide__list"><li class="splide__slide" data-component-id="12cc021a-ef9c-4731-b427-004c3921426f"><div data-rid="12cc021a-ef9c-4731-b427-004c3921426f" data-replo-repeated-index=".0.0.0.0.0.0.0.0.0" class="r-998snb"><picture data-rid="93d27ccd-2fe7-4f27-bb2b-6185d476f2ee" data-replo-repeated-index=".0.0.0.0.0.0.0.0.0.0" class="r-1ypv58d"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_1.png?v=1695664869&amp;width=600" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870" class="r-g9sxnd" loading="eager"/></picture></div><style>[data-component-id="12cc021a-ef9c-4731-b427-004c3921426f"].splide__track {padding-left: 0px;padding-right: 0px;}[data-component-id="12cc021a-ef9c-4731-b427-004c3921426f"].splide__slide {height: 100% !important;margin-right: var(--replo-gap, 0px) !important;}[data-component-id="12cc021a-ef9c-4731-b427-004c3921426f"].splide__slide > img {display: inline;}[data-component-id="12cc021a-ef9c-4731-b427-004c3921426f"].splide__list {transform: translateX(0%);}</style></li><li class="splide__slide" data-component-id="e2f8e31d-8353-4dda-b884-320ff1866cb3"><div data-rid="e2f8e31d-8353-4dda-b884-320ff1866cb3" data-replo-repeated-index=".0.0.0.0.0.0.0.0.1" class="r-13cg490"><picture data-rid="899c97e7-9bd0-47d5-8a71-b029c108046e" data-replo-repeated-index=".0.0.0.0.0.0.0.0.1.0" class="r-1dfmg2c"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=600" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870" class="r-6lcrqx" loading="eager"/></picture></div><style>[data-component-id="e2f8e31d-8353-4dda-b884-320ff1866cb3"].splide__track {padding-left: 0px;padding-right: 0px;}[data-component-id="e2f8e31d-8353-4dda-b884-320ff1866cb3"].splide__slide {height: 100% !important;margin-right: var(--replo-gap, 0px) !important;}[data-component-id="e2f8e31d-8353-4dda-b884-320ff1866cb3"].splide__slide > img {display: inline;}[data-component-id="e2f8e31d-8353-4dda-b884-320ff1866cb3"].splide__list {transform: translateX(0%);}</style></li><li class="splide__slide" data-component-id="0791cd67-d48e-4e68-9e8b-073541067840"><div data-rid="0791cd67-d48e-4e68-9e8b-073541067840" data-replo-repeated-index=".0.0.0.0.0.0.0.0.2" class="r-128lr5a"><picture data-rid="27d736c0-e2ad-47e5-bfd5-c4a38f29b230" data-replo-repeated-index=".0.0.0.0.0.0.0.0.2.0" class="r-yvlx1e"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_3.png?v=1695664869&amp;width=600" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870" class="r-lhy8qn" loading="eager"/></picture></div><style>[data-component-id="0791cd67-d48e-4e68-9e8b-073541067840"].splide__track {padding-left: 0px;padding-right: 0px;}[data-component-id="0791cd67-d48e-4e68-9e8b-073541067840"].splide__slide {height: 100% !important;margin-right: var(--replo-gap, 0px) !important;}[data-component-id="0791cd67-d48e-4e68-9e8b-073541067840"].splide__slide > img {display: inline;}[data-component-id="0791cd67-d48e-4e68-9e8b-073541067840"].splide__list {transform: translateX(0%);}</style></li><li class="splide__slide" data-component-id="2a7fbce6-3ae0-43be-bfec-4deb14f60a99"><div data-rid="2a7fbce6-3ae0-43be-bfec-4deb14f60a99" data-replo-repeated-index=".0.0.0.0.0.0.0.0.3" class="r-1fdtl98"><picture data-rid="226fe7fe-bffc-4f04-beb7-87d9c666a4c5" data-replo-repeated-index=".0.0.0.0.0.0.0.0.3.0" class="r-dd991q"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_4.png?v=1695664869&amp;width=600" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870" class="r-3vpr3a" loading="eager"/></picture></div><style>[data-component-id="2a7fbce6-3ae0-43be-bfec-4deb14f60a99"].splide__track {padding-left: 0px;padding-right: 0px;}[data-component-id="2a7fbce6-3ae0-43be-bfec-4deb14f60a99"].splide__slide {height: 100% !important;margin-right: var(--replo-gap, 0px) !important;}[data-component-id="2a7fbce6-3ae0-43be-bfec-4deb14f60a99"].splide__slide > img {display: inline;}[data-component-id="2a7fbce6-3ae0-43be-bfec-4deb14f60a99"].splide__list {transform: translateX(0%);}</style></li><li class="splide__slide" data-component-id="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde"><div data-rid="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde" data-replo-repeated-index=".0.0.0.0.0.0.0.0.4" class="r-1m4v8y6"><picture data-rid="50c9183a-2578-470f-9d22-2e0b66b9b9e8" data-replo-repeated-index=".0.0.0.0.0.0.0.0.4.0" class="r-1i836b3"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_5.png?v=1695664869&amp;width=600" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/snooz_protos_insta_2.png?v=1695664870" class="r-n35i6o" loading="eager"/></picture></div><style>[data-component-id="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde"].splide__track {padding-left: 0px;padding-right: 0px;}[data-component-id="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde"].splide__slide {height: 100% !important;margin-right: var(--replo-gap, 0px) !important;}[data-component-id="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde"].splide__slide > img {display: inline;}[data-component-id="5e82a2ec-fa73-4d21-b2e9-ce43c70edbde"].splide__list {transform: translateX(0%);}</style></li></ul></div></div><div data-rid="57169a27-d4ce-4ac3-91de-76e3ca5f3d8a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1l9mphp"><div data-rid="f49437af-c88a-4d21-af06-3fa8d1bcef1b" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="r-1tf88fn"><span style="display:contents"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left" style="fill: none;stroke: currentColor;width: var(--rsw, 100%);height: 100%" role="presentation"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></span></div><div data-rid="b821daeb-2616-4f73-a56b-c35b5e508822" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="r-9mponq"><span style="display:contents"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right" style="fill: none;stroke: currentColor;width: var(--rsw, 100%);height: 100%" role="presentation"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></span></div></div></div></div><style type="text/css">
          @keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__container{box-sizing:border-box;position:relative}.splide__list{backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}
          
          [data-replo-carousel] .splide {
            display: contents;
            visibility: visible !important;
          }
          [data-replo-carousel] .splide__track {
            width: 100%;
            height: 100%;
          }
          [data-replo-carousel] .splide__slide {
            display: flex;
            overflow: hidden;
          }
          [data-replo-carousel] .splide__arrows {
            display: none;
          }
          [data-replo-carousel] .splide__track--fade .splide__slide {
            height: 100%;
          }
          
          [data-replo-carousel] .splide.splide--auto-width:not(.splide--infinite):not(.is-overflow) .splide__arrow {
            display: none !important;
          }</style></div><picture data-rid="68aa6312-097c-4c36-9234-fca7476ba0be" data-replo-repeated-index=".0.0.0.0" class="r-1wdslq4"><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/230831_proto_shots-2783-final_size.jpg?v=1695662579&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/230831_proto_shots-2783-final_size.jpg?v=1695662579&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/230831_proto_shots-2783-final_size.jpg?v=1695662579&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/1378/8621/files/230831_proto_shots-2783-final_size.jpg?v=1695662579&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/1378/8621/files/230831_proto_shots-2783-final_size.jpg?v=1695662579" class="r-1g8xh8c" loading="eager"/></picture></div></div></div></div></div>
</div>
    
{% schema %}
{
  "name": "about",
  "presets": [
    {
      "name": "about"
    }
  ]
}
{% endschema %}
    
  