.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border: none;
  left: 0;
  overflow-y: auto;
  padding: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mega-menu__content-container {
  width: 80%; /* Adjust to control the width of the inner content */
  max-width: 1200px; /* Or any max-width that fits your design */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.mega-menu__links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 250px;
}

.mega-menu__blocks-container {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.mega-menu__block_redesign {
  background: transparent;
  border: none;
  margin-bottom: 2rem;
  text-align: center;
  width: calc((100% / 4) - 2rem);
  max-width: 250px; /* Control the maximum size of the blocks */
}

.mega-menu__block_redesign a {
  display: block;
  width: 100%;
}

.mega-menu__block_redesign img {
  width: 100%;
  border-radius: 10px;
}

.mega-menu__block_redesign .mega-menu__block-text {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

.mega-menu__block_redesign .mega-menu__block-title {
  grid-column: 2;
  font-size: 1rem;
}

.mega-menu__block_redesign .mega-menu__block-blurb {
  grid-column: 1 / -1;
  background-color: #D4E4ED;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 0.75rem;
  margin-top: -1rem; /* Adjust this value to move closer to the image */
  justify-self: end;
}

.mega-menu__block_redesign .mega-menu__block-summary {
  grid-column: 2;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mega-menu__list > li {
  display: block; /* Ensures each link is a block, taking full width */
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  padding: 0.6rem 0;
  text-decoration: none;
  transition: color var(--duration-short) ease;
}

.mega-menu__sublink {
  font-family: quasimoda, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.mega-menu__headertext {
  font-family: quasimoda, sans-serif;
  font-size: 10px;
  font-weight: bolder;
}

.mega-menu__block {
  background: #fff; /* Replace with actual colors and styling */
  border: 1px solid #ccc; /* Placeholder for border */
  padding: 1rem;
  width: calc(100% / 4 - 2rem); /* Adjust the width as needed */
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-decoration-color: #6CD7BD;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #6CD7BD;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.header__top-level-link {
  font-size: 16px;
  font-weight: 500;
  font-family: quasimoda, sans-serif;
}

.width-underline {
  position: relative;
  display: inline-block; /* Ensures the container fits the content */
}

.width-underline:after {
  content: '';
  display: block;
  margin-top: 5px; /* Distance from the text */
  height: 3px; /* Thickness of the underline */
  width: 150%; /* Width relative to the parent element, can be more than 100% */
  background-color: #6CD7BD;
  position: absolute;
  left: -22%; /* Adjusts the starting position to the left */
}