.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border: none;
  left: 0;
  overflow-y: auto;
  padding: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mega-menu__content-container {
  width: 80%; /* Adjust to control the width of the inner content */
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.mega-menu__links-container {
  flex: 1;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 0.1rem;
  max-width: 250px;
}

.mega-menu__blocks-container {
  flex: 3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.6rem;
}

.mega-menu__block_redesign {
  background: transparent;
  border: none;
  margin-bottom: 0.1rem;
  text-align: center;
  width: calc((100% / 4) - 2rem);
  max-width: 250px; /* Control the maximum size of the blocks */
}

.mega-menu__block_redesign a {
  display: block;
  width: 100%;
}

.mega-menu__block_redesign img {
  width: 100%;
  border-radius: 10px;
}

.mega-menu__block_redesign .mega-menu__block-text {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: flex-start; /* Aligns content to the left */
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  line-height: normal;
  margin-top: -15px;
}

.mega-menu__block_redesign .mega-menu__block-title {
  flex: 1 1 calc(100% - 120px); /* Adjust '120px' to the estimated maximum width of the blurb */
  font-size: 13px;
  font-family: quasimoda, sans-serif;
  font-weight: normal;
  text-align: left; /* Ensures text is aligned to the left */
  white-space: normal; /* Allows text to wrap */
}

.mega-menu__block_redesign .mega-menu__block-blurb {
  flex: 0 1 auto; /* Does not grow, can shrink, initial width auto */
  max-width: 120px; /* Set a max-width for the blurb */
  background-color: #D4E4ED;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 8px;
  font-weight: normal;
  font-family: quasimoda, sans-serif;
  margin-top: 0;
  white-space: nowrap; /* Prevents the blurb text from wrapping */
  line-height: normal;
}

.mega-menu__block_redesign .mega-menu__block-summary {
  width: 100%; /* Makes the summary take the full width of the container */
  margin-top: -8px;
  font-size: 11px;
  font-family: quasimoda, sans-serif;
  text-align: left;
  line-height: 1.2;
  letter-spacing: normal;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mega-menu__list > li {
  display: block; /* Ensures each link is a block, taking full width */
  line-height: 1.7;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  text-decoration: none;
  transition: color var(--duration-short) ease;
  line-height: normal;
}

.mega-menu__sublink {
  font-family: quasimoda, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: -10px;
  line-height: normal;
}

.mega-menu__headertext {
  font-family: quasimoda, sans-serif;
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: -2px;
  line-height: 1.7;
}

.mega-menu__block {
  background: #fff;
  padding: 0.5rem;
  width: calc(100% / 4 - 2rem); /* Adjust the width as needed */
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-decoration-color: #6CD7BD;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
  text-decoration-color: #6CD7BD;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.mega-menu__footer-link {
  font-size: 14px; /* Match font size with top level links */
  font-weight: 500; /* Adjust the weight if needed */
  font-family: quasimoda, sans-serif;
  color: rgba(var(--color-foreground), 0.75); /* Match color with other links */
  text-decoration: none; /* No underline by default */
  padding: 0.6rem 0; /* Add padding to space out the links, adjust as needed */
  display: block; /* Display block for the full clickable area */
  position: relative; /* Set relative for absolute positioning of the pseudo-element */
  line-height: 1;
}

.mega-menu__footer-link::after {
  font-size: 18px; /* Adjust size as needed */
  font-weight: 500; /* Match the weight of the link text if needed */
  position: absolute;
  right: 0; /* Position the arrow to the right */
  top: 50%; /* Center the arrow vertically */
  transform: translateY(-50%); /* Align center with the text */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with link interaction */
}

.mega-menu__footer-link:hover::after {
  text-decoration: none; /* Removes the underline from the arrow on hover */
}

.mega-menu__footer-link:hover {
  text-decoration: underline;
  text-decoration-color: #6CD7BD; /* The same as .mega-menu__link:hover */
  text-decoration-thickness: 0.1rem;
}

.mega-menu__footer-list {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  padding: 0; /* Removes default padding on lists */
  list-style-type: none; /* Removes default list item bullets */
  width: 100%; /* Full width of the container */
  margin-top: 15px;
}

.mega-menu__footer-list > li {
  width: auto; /* Allows each item to only take up the space it needs */
  padding-right: 2.4rem; /* Match the padding from .header--top-center .mega-menu__list > li, adjust as needed */
}

.width-underline {
  position: relative;
  display: inline-block; /* Ensures the container fits the content */
}

.width-underline:after {
  content: '';
  display: block;
  margin-top: 5px; /* Distance from the text */
  height: 3px; /* Thickness of the underline */
  width: 150%; /* Width relative to the parent element, can be more than 100% */
  background-color: #6CD7BD;
  position: absolute;
  left: -22%; /* Adjusts the starting position to the left */
  border-radius: 5px;
}

